<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

<h1>Mission name: <%=marsMissions.name%> </h1>
<h1>Launch Date: <%=marsMissions.launchDate%> </h1>
<h1>Operator: <%=marsMissions.operator%> </h1>
<h1>Mission Type: <%=marsMissions.missionType%> </h1>
 <div class="image"><img src="<%=marsMissions.img%>"></div>


</body>
</html>
