<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=`, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
 
    <b><%= thisMission.name %></b><br>
    <%= thisMission.launchDate %><br>
    <%= thisMission.operator %><br>
    <%= thisMission.missionType %><br>
    <%= thisMission.img %>

</body>
</html>