<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= missions[mission].name %>
    <%= missions[mission].launchDate %>
    <%= missions[mission].operator %>
    <%= missions[mission].missionType %>
    <%= missions[mission].img %>
  </body>
</html>
