<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <%= thisMission.name %>
        <%= thisMission.launchDate %>
        <%= thisMission.operator %>
        <%= thisMission.missionType %>

        Is either version above or below correct? I believe the top is, but it says it can't read the properties.<br>
        Below doesn't show anything on the page, but there are no errors.

        <%= thisMission %><%= marsMissions.name %>


</body>
</html>